.controls {
  border: var(--main-5) solid 0.05rem;
  background-color: var(--menu-lighter);
  border-radius: 0.33rem;
  overflow: hidden;
  box-shadow: none;
  transition:
    background-color var(--ttime),
    border var(--ttime);
}

.controls button {
  background-color: var(--menu-lighter);
  /*border-top: var(--main-4) solid 0.05rem;*/
  border-bottom: var(--main-4) solid 0.05rem;
  transition:
    background-color var(--ttime),
    border var(--ttime);
}

.controls button:hover {
  background-color: var(--menu-darker);
}

.controls button:active {
  background-color: var(--select-1);
}

.controls button svg {
  color: var(--main-0);
}

/*_______Canvas_______*/
.canvasContainer {
  height: 100vh;
  width: 100vw;
}

.react-flow__attribution {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Обёртка для переключателя — поверх, но без влияния на размеры */
.switch-wrapper {
  position: absolute;
  transform: scale(0.6) translateX(-20px) translateY(2px);
}

.switch-wrapper.hide {
  visibility: hidden;
}

.close-cross {
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 20px;
  width: 0.5rem;
  flex-shrink: 0;
}

.close-cross-icon {
  width: 0.6rem;
  height: 0.6rem;
}

.close-cross-icon-toast {
  width: 0.8rem;
  height: 0.8rem;
}

.toast-notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  max-width: 400px;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--menu-lighter); /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-3); /* scroll handle */
  border-radius: 4px; /* rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-4); /* hover effect */
}
