.auth-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-2);
  overflow: auto;
}

.auth-window {
  width: 30rem;
  height: 35rem;
  background-color: var(--main-1);
  border-radius: 0.5rem;
  border: var(--main-5) solid 0.05rem;
}

.auth-window-text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--main-0);
}

.input-line-container {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  height: 20rem;
  width: 25rem;
  border-top: var(--main-5) solid 0.05rem;
}

.input-email-text {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  display: flex;
  color: var(--main-0);
}

.input-email-window {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  height: 2rem;
  width: 25rem;
  font-size: 1rem;
  border: var(--main-5) solid 0.05rem;
  border-radius: 0.5rem;
  font-family: Montserrat, serif;
}

.input-password-text {
  display: flex;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: var(--main-0);
}

.error-message {
  color: #ff4d4f;
  text-align: left;
  width: 20rem;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-right: 11rem;
  animation: fadeIn 0.3s ease-in;
}

.server-error-message {
  text-align: center;
  margin-top: 0.5rem;
  color: #ff4d4f;
}

.input-password-window {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  height: 2rem;
  width: 25rem;
  font-size: 1rem;
  border: var(--main-5) solid 0.05rem;
  border-radius: 0.5rem;
  font-family: Montserrat, serif;
}

.log-in-button {
  margin-top: -3rem;
  height: 2rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
  font-family: Montserrat, serif;
  background-color: var(--main-3);
  border: var(--main-5) solid 0.05rem;

  &:hover {
    transition: 0.1s ease-out;
    background-color: var(--main-4);
  }
}

.log-in-button-text {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--main-0);
}

.register-text {
  font-size: 1.1rem;
  font-family: Montserrat, serif;
  margin-top: 4.5rem;
  color: var(--main-0);
  text-decoration-color: var(--main-0);
}

.register-link {
  display: flex;
  font-size: 0.2rem;
  font-family: Montserrat, serif;
  margin-top: 0.5rem;
  margin-left: 12.25rem;
}

.register-link-text {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Montserrat, serif;
  color: var(--main-0);
}

.login-button {
  position: fixed;
  top: calc(0.5rem + 5vh);
  left: 4.97rem;
  width: 4rem;
  height: 2rem;
  margin-left: 0.4rem;
  background-color: var(--menu-lighter);
  border: var(--main-5) solid 0.07rem;
  border-radius: 0.33rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  &:hover {
    transition: 0.15s ease-out;
    background-color: var(--main-3);
  }
}

.login-button-text {
  display: inline-block;
  color: var(--main-0);
}
