.context-menu {
  background: var(--menu-bg-color);
  border: 1px solid var(--external-border-color);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  width: 8rem;
  color: var(--text-color);
}

.contextMenuButton {
  border: 1px solid var(--internal-border-color);
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: left;
  width: 6rem;

  border-radius: 0.35rem;
  background: var(--button-color);
}

.contextMenuButton :hover {
  display: block;
  text-align: left;

  background: #856e6e;
}
