.context-menu {
    background: white;
    border: 1px solid #b2b2b2;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 10px rgba(0, 0, 0, 10%);
    position: absolute;
    z-index: 10;
    width: 8rem;
}

.contextMenuButton {
    border: 1px solid #c6c6c6;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: left;
    width: 6rem;

    border-radius: 0.35rem;
    background: #fff;
}

.contextMenuButton :hover {
    display: block;
    text-align: left;

    background: #856e6e;
}