.custom-block-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  border: var(--main-4) solid 0.1rem;
  background: var(--menu-lighter);
  padding: 25px;
  color: var(--main-0);
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;

  & > h3 {
    font-size: 1.2rem;
  }
}

.close-button-custom-circuit {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.close-button-custom-circuit:hover {
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--status-error-1);
}

.close-button-custom-circuit:active {
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--status-error-2);
}

.close-custom-circuit-cross {
  width: 1rem;
  height: 1rem;
  color: var(--main-0);
}

.creation-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-input {
  display: flex;
  flex-direction: column;
}

.name-input input {
  margin-bottom: 20px;
  padding: 10px;
  border: var(--main-4) solid 0.1rem;
  background: var(--menu-lighter);
  border-radius: 4px;
  font-size: 16px;
  color: var(--main-0);
}

.name-input input:focus {
  outline: none;
  border-color: var(--select-1);
  box-shadow: 0 0 0 2px var(--select-1);
}

.create-button {
  margin-bottom: 20px;
  color: var(--main-0);
  padding: 12px 20px;
  background-color: var(--menu-lighter);
  border: var(--main-4) solid 0.1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.15s;
  user-select: none;
}

.create-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.create-button:active {
  transform: translateY(0px);
  transition: 0.05s ease-out;
  background-color: var(--select-2);
  box-shadow: none;
}

.current-circuit-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}

.custom-block-node {
  border-radius: 4px;
  background: var(--menu-lighter);
  color: var(--main-0);
  padding: 10px;
  min-width: 150px;
}

.custom-block-node:hover {
  background-color: var(--main-4);
}

.custom-block-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--main-4);
  padding-bottom: 5px;
}

.custom-block-body {
  display: flex;
  justify-content: space-between;
}

.inputs,
.outputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group,
.output-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-label {
  margin-right: 5px;
  font-size: 0.8rem;
}

.output-label {
  margin-left: 5px;
  font-size: 0.8rem;
}
