/*______DragAndDrop______*/
.menu-element {
  padding: 8px;
  border: var(--main-4) 0.05rem solid;
  border-radius: 0.5rem;
  cursor: move;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  user-select: none;
}

.menu-element:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.menu-element:active {
  background: var(--main-4);
  transform: translateY(0px);
  box-shadow: none;
}

.menu-element svg {
  width: 50px;
  height: auto;
  user-select: none;
}

.react-flow__edge.temp path {
  stroke-dasharray: 5;
  stroke: #666;
  animation: dashdraw 0.5s linear infinite;
}

@keyframes dashdraw {
  0% {
    stroke-dashoffset: 10;
  }
}

.logic-gate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logic-gate-icon {
  color: var(--main-0);
  /*object-fit: cover;*/
}

.switch-icon-wrapper {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-node-button {
  width: 70%;
  height: 70%;
}

.input-text {
  position: absolute;
  margin-top: 0.3rem;
  top: 0;
  font-size: 0.6rem;
  color: var(--main-0);
}

.switch-wrapper {
  align-content: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  transition: 0.15s ease;
}

.switch-wrapper.deactivated {
  transition: 0.15s ease;
  pointer-events: none;
}

.button-wrapper {
  align-content: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  transition: 0.15s ease;
  pointer-events: all;
}

.button-wrapper.deactivated {
  transition: 0.15s ease;
  pointer-events: none;
}

.button-icon {
  background-color: #007bff;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: fixed;
  top: 20px;
  left: 10px;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 999rem;
  user-select: none;
  transition: background-color 0.2s ease;
}

.button-icon.clicked {
  background-color: #808080;
}

.close-cross {
  position: fixed;
  right: 0;
  color: var(--main-0);
  width: 1.7rem;
  height: 1.7rem;
}

.led-icon {
  position: absolute;
  top: 27px;
  left: 16px;
  transform: rotate(45deg);
}
