@import url("./xy-theme.css");

body {
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: 600;
  background-color: var(--canvas-bg-color);
}

#app {
  width: 100vw;
  height: 99.5vh;
  position: absolute;
  top: 0;
  right: 0;
}
