@import url("./xy-theme.css");

body {
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: 500;
}

#app {
  width: 100vw;
  height: 95vh;
  position: absolute;
  top: 0;
  right: 0;
}
