.name-editor {
  position: absolute;
  bottom: 0;
  left: 80px;
  padding: 12px;
  background: var(--menu-lighter);
  color: var(--main-0);
  border: 1px solid var(--main-5);
  border-radius: 0.5rem;
  user-select: none;
  z-index: 2001;
}

.name-editor label {
  display: block;
  margin-bottom: 6px;
}

.name-editor input {
  padding: 6px 8px;
  border-radius: 0.5rem;
  background-color: var(--menu-lighter);
  border: 1px solid var(--main-0);
  color: var(--main-0);
  width: 200px;
}

.name-editor .close-button {
  margin-left: 8px;
  padding: 6px 12px;
  color: var(--main-0);
  cursor: pointer;
  background-color: var(--menu-lighter);
  border: var(--main-4) solid 0.05rem;
  border-radius: 0.33rem;
}

.name-editor .close-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.name-editor .close-button:active {
  transform: translateY(0px);
  transition: 0.05s ease-out;
  background-color: var(--select-2);
  box-shadow: none;
  border: var(--select-1) solid 0.05rem;
}

.label-container {
  display: flex;
  margin-bottom: 6px;
}

.tooltip-container {
  position: relative;
  margin-left: 45px;
  cursor: help;
}

.tooltip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-0);
  color: var(--menu-lighter);
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.2s;
}

.tooltip-icon:hover {
  background-color: var(--select-1);
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: var(--menu-lighter);
  color: var(--main-0);
  text-align: center;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  border: 1px solid var(--main-5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--menu-lighter) transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.input-group {
  display: flex;
}
