.name-editor {
  position: absolute;
  bottom: 0;
  left: 80px;
  padding: 12px;
  background: var(--menu-lighter);
  color: var(--main-0);
  border: 1px solid var(--main-5);
  border-radius: 0.5rem;
  user-select: none;
  z-index: 10;
}

.name-editor label {
  display: block;
  margin-bottom: 6px;
}

.name-editor input {
  padding: 6px 8px;
  border-radius: 0.5rem;
  background-color: var(--menu-lighter);
  border: 1px solid var(--main-0);
  color: var(--main-0);
  width: 200px;
}

.name-editor .close-button {
  margin-left: 8px;
  padding: 6px 12px;
  color: var(--main-0);
  cursor: pointer;
  background-color: var(--menu-lighter);
  border: var(--main-4) solid 0.05rem;
  border-radius: 0.33rem;
}

.name-editor .close-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.name-editor .close-button:active {
  transform: translateY(0px);
  transition: 0.05s ease-out;
  background-color: var(--select-2);
  box-shadow: none;
  border: var(--select-1) solid 0.05rem;
}
