.profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main-2);
}

.header2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 5rem;
  background-color: var(--main-1);
  border-bottom: 1px solid #c1c1c1;
  position: sticky;
  top: 0;
  z-index: 100;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;
  margin-left: auto;
}

.profile-user-name {
  color: var(--main-0);
  font-size: 1rem;
}

.profile-user-icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  border: 1px solid var(--main-5);
}

.content-container {
  display: flex;
  flex: 1;
  padding-top: 1rem;
}

.profile {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-to-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.user-icon-to-edit {
  width: 12rem;
  height: 12rem;
  border: 1px solid;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  background-color: white;
}

.user-name-to-edit {
  color: var(--main-0);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.edit-profile-button {
  color: var(--main-0);
  width: 100%;
  max-width: 15rem;
  height: 2.8rem;
  border: 1px solid var(--main-5);
  border-radius: 0.5rem;
  background: var(--main-1);
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-profile-button:hover {
  background-color: var(--main-3);
}

.editProfileButtonText {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.projects-panel {
  flex: 1;
  padding: 2rem;
  border-left: 1px solid #c1c1c1;
}

.project-panel-name {
  color: var(--main-0);
  font-size: 1.8rem;
  font-weight: bold;
}
