.reg-container {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-2);
  overflow: auto;
}

.reg-window {
  width: 30rem;
  height: 50rem;
  background-color: var(--main-1);
  border-radius: 0.5rem;
  border: var(--main-5) solid 0.05rem;
}

.reg-window-text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--main-0);
}

.input-name-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  color: var(--main-0);
}

.input-name-window {
  margin-top: 0.7rem;
  height: 2rem;
  width: 25rem;
  font-size: 0.9rem;
  border: var(--main-5) solid 0.05rem;
  border-radius: 0.5rem;
  font-family: Montserrat, serif;
  background-color: var(--main-2);
  color: var(--main-0);
}

.input-username-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  color: var(--main-0);
}

.input-username-window {
  margin-top: 0.7rem;
  height: 2rem;
  width: 25rem;
  font-size: 0.9rem;
  border: var(--main-5) solid 0.05rem;
  border-radius: 0.5rem;
  font-family: Montserrat, serif;
  background-color: var(--main-2);
  color: var(--main-0);
}

.input-line-container {
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  height: 20rem;
  width: 25rem;
  border-top: var(--main-5) solid 0.05rem;
}

.input-email-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  color: var(--main-0);
}

.input-email-window {
  margin-top: 0.7rem;
  height: 2rem;
  width: 25rem;
  font-size: 0.9rem;
  border: var(--main-5) solid 0.05rem;
  border-radius: 0.5rem;
  font-family: Montserrat, serif;
  background-color: var(--main-2);
  color: var(--main-0);
}

.input-password-text {
  display: flex;
  margin-top: 1.5rem;
  font-size: 1rem;
  color: var(--main-0);
}

.input-password-window {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.7rem;
  height: 2rem;
  width: 25rem;
  font-size: 1rem;
  border: var(--main-5) solid 0.05rem;
  border-radius: 0.5rem;
  font-family: Montserrat, serif;
  background-color: var(--main-2);
  color: var(--main-0);
}

.input-username-window.invalid,
.input-email-window.invalid,
.input-password-window.invalid {
  border-color: red;
}

.input-confirm-password-text {
  display: flex;
  margin-top: 1.5rem;
  font-size: 1rem;
  color: var(--main-0);
}

.reg-button {
  margin-top: 17rem;
  height: 2rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
  font-family: Montserrat, serif;
  background-color: var(--main-3);
  border: var(--main-5) solid 0.05rem;

  &:hover {
    transition: 0.1s ease-out;
    background-color: var(--main-4);
  }
}

.reg-button-text {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--main-0);
}

.login-text {
  font-size: 1.1rem;
  font-family: Montserrat, serif;
  margin-top: 2rem;
  color: var(--main-0);
  text-decoration-color: var(--main-0);
}

.login-link {
  display: flex;
  font-size: 0.2rem;
  font-family: Montserrat, serif;
  margin-top: 0.5rem;
  margin-left: 12.25rem;
}

.login-link-text {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Montserrat, serif;
  color: var(--main-0);
}
