/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: var(--menu-lighter);
  color: var(--main-0);
  border: 0.05rem solid var(--main-4);
  z-index: 10000;
  transition:
    0.06s ease,
    background-color var(--ttime),
    border var(--ttime);
}

.SelectTrigger:hover {
  background-color: var(--main-4);
  transition: 0.08s ease;
}

.SelectTrigger[data-placeholder] {
  color: #000000;
  transition: 0.08s ease;
}

.SelectIcon {
  color: var(--main-0);
  transition: 0.08s ease;
}

.SelectContent {
  overflow: hidden;
  background-color: var(--menu-lighter);
  border: 0.05rem solid var(--main-4);
  color: var(--main-0);
  transition: 0.08s ease;

  border-radius: 6px;
  z-index: 10000;
}

.SelectViewport {
  padding: 5px;
  transition: 0.08s ease;
}

.SelectItem {
  color: var(--main-0);
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  transition: 0.08s ease;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--main-4);
  transition: 0.08s ease;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: #000000;
  transition: 0.08s ease;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.08s ease;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: yellowgreen;
  cursor: default;
  transition: 0.8s ease;
}

.SelectTriggerWire {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.35rem;
  background: var(--main-2);
  border: 1px solid var(--main-4);
  color: var(--main-0);
  width: 75%;
  text-align: left;
}

.SelectTriggerWire:hover {
  background-color: var(--select-1);
}

.SelectTriggerWire[data-placeholder] {
  color: #000000;
}

.SelectValueWrapper {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
