.main-tabs-wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 4vh;
  background-color: var(--main-1);
  color: var(--main-0);
  border-bottom: 1px solid var(--main-4);
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  white-space: nowrap;
}

.tab {
  display: flex; /* включаем flex */
  align-items: center; /* по вертикали по центру */
  justify-content: center; /* по горизонтали по центру */
  gap: 4px;
  height: 4vh; /* небольшой отступ между textarea и кнопкой */

  margin-left: 8px;
  position: relative;
  padding: 0 0.5rem;

  cursor: pointer;
  line-height: 4vh;
  border-radius: 5px;
  background: var(--main-2);
  transition: 0.15s;

  box-sizing: border-box;

  &:hover {
    background: var(--main-4);
  }
}

.tab.active {
  background: var(--main-4);
  font-weight: bold;
}

.add-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 5vh;
}

.name-text-area {
  background-color: transparent;
  font-family: Montserrat, serif;
  resize: none;
  color: var(--main-0);
  /*width: 7vw;*/
  height: 2vh;
  text-align: center;
  padding: 0;
  border: none;

  width: 100%;
  /*font-weight: bold;*/
  /*font-size: 0.9rem;*/
  /*padding: 4px;*/
  outline: none;
  /*text-align: center;*/
}

.close-btn {
  width: 1vw;
  height: 1vh;
  /*border: 1px white solid;*/
  background: transparent;
  cursor: pointer;
  display: flex; /* включаем флекс-контейнер */
  align-items: center; /* по вертикали по центру */
  justify-content: center;
  /*padding: 0 0.2rem;*/
}
.close-tab-cross {
  width: 10px;
  height: auto;
}

.main-tabs-wrapper {
}

.name-text-area {
}
