.tabs-scroll-container {
  position: relative;
  width: 100vw;
  height: 5vh;
  background-color: var(--main-2);
  overflow: hidden;
  /* скрывает нативный вертикальный скролл */
}

.main-tabs-wrapper {
  display: flex;
  align-items: center;
  /*height: 100%;*/
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  scrollbar-color: var(--main-1) transparent;
}

/* Горизонтальный скроллбар сверху (WebKit only) */
.main-tabs-wrapper::-webkit-scrollbar {
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
}

.main-tabs-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.main-tabs-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-1);
  border-radius: 4px;
}

.main-tabs-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: var(--main-0);
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  margin-left: 8px;
  padding: 0 0.5rem;
  cursor: pointer;
  line-height: 4vh;
  border-radius: 5px;
  background: var(--main-3);
  transition: 0.15s;
  white-space: nowrap;
  max-width: 100%; /* важно для переиспользования */

  &:hover {
    background: var(--main-4);
  }
}

.tab.active {
  background: var(--main-4);
  font-weight: bold;
}

.add-btn {
  border: none;
  background: transparent;
  color: var(--main-0);
  cursor: pointer;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 5vh;
}

.name-text-area {
  background-color: transparent;
  font-family: Montserrat, serif;
  resize: none; /* запрет ручного изменения */
  overflow: hidden; /* убираем скроллбар */
  white-space: nowrap;
  color: var(--main-0);
  text-align: center;
  padding: 0;
  border: none;
  height: 3vh;
  width: auto;

  /* динамический размер — отключаем обрезку и перенос */
  display: inline-block;
}

.name-text-area.editing {
  outline: 1px solid var(--main-0);
  border-radius: 2px;
  background-color: var(--menu-lighter);
}

.tab-title {
  color: var(--main-0);
  font-family: Montserrat, serif;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}

.close-btn {
  width: 1vw;
  height: 1vh;
  /*border: 1px white solid;*/
  background: transparent;
  cursor: pointer;
  display: flex; /* включаем флекс-контейнер */
  align-items: center; /* по вертикали по центру */
  justify-content: center;
  /*padding: 0 0.2rem;*/
}

.close-tab-cross {
  width: 10px;
  height: auto;
  color: var(--main-0);
}

/* Context Menu Styles */
.context-menu-item {
  border-radius: 0.5rem;
  padding: 8px 16px;
  cursor: pointer;
  color: var(--main-0);
  font-family: Montserrat, serif;
  font-size: 0.9rem;
  transition: background-color 0.15s;
}

.context-menu-item:hover {
  background: var(--main-4);
}
