.toolbar {
  user-select: none;
  display: flex;
  /*width: 17.26rem;*/

  border-radius: 0.5rem;
  position: fixed;
  bottom: 1.32rem;
  right: 1.32rem;
  z-index: 1000;
  padding: 0.4rem 0 0.4rem 0.4rem;
  background: var(--menu-bg-color);
  border: var(--external-border-color) solid 0.05rem;
  transition: transform 0.3s;
}

.toolbarButton {
  width: 2rem;
  height: 2rem;
  gap: 0.4rem;
  margin-right: 0.4rem;
  background-color: var(--button-color);
  border: var(--internal-border-color) solid 0.05rem;
  transition: 0.15s ease-out;
  border-radius: 0.33rem;
}

.toolbarButton:hover {
  transition: 0.15s ease-out;
  background-color: var(--button-hover-color);
}

.toolbarButton:active {
  transition: 0.05s ease-out;
  background-color: var(--select-color);
  box-shadow: none;
  border: var(--select-color) solid 0.05rem;
}

.toolbarButtonIcon {
  color: var(--svg-color);
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.toolbarButton.active {
  transition: 0.05s ease-out;
  background-color: var(--select-color);
  box-shadow: none;
  border: var(--select-color) solid 0.05rem;
}

.toolbar-separator {
  width: 0.1rem;
  border-radius: 1rem;
  height: 2rem;
  margin: 0 0.4rem 0 0;
  background-color: var(--external-border-color);
}

.simulate-button {
  width: 2rem;
  height: 2rem;
  gap: 0.4rem;
  margin-right: 0.4rem;
  background-color: var(--button-color);
  border: var(--internal-border-color) solid 0.05rem;
  transition: 0.15s ease-out;
  border-radius: 0.33rem;
  z-index: 1000;
}

.simulate-button.idle {
  background-color: var(--simulate-start-button-bg-color);
}

.simulate-button.awaiting {
  background-color: var(--simulate-loading-button-bg-color);
}

.simulate-button.running {
  background-color: var(--simulate-stop-button-bg-color);
}

.simulate-button.error {
  background-color: var(--simulate-error-button-bg-color);
}

.simulate-button-svg.idle {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--simulate-start-button-text-color);
}

.simulate-button-svg.awaiting {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--simulate-loading-button-text-color);
  transform: scale(1.1);
}

.simulate-button-svg.running {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--simulate-stop-button-text-color);
  transform: scale(1.1);
}

.simulate-button-svg.error {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--simulate-error-button-text-color);
  transform: scale(1.1);
}
