.toolbar {
  user-select: none;
  display: flex;
  /*width: 17.26rem;*/

  border-radius: 0.5rem;
  position: fixed;
  bottom: 1.32rem;
  right: 1.32rem;
  z-index: 1000;
  padding: 0.4rem 0 0.4rem 0.4rem;
  background: var(--main-2);
  transition: transform 0.3s;

  border: transparent solid 0.05rem;
  background-image: var(--main-gradient), var(--border-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.toolbarButton {
  width: 2rem;
  height: 2rem;
  gap: 0.4rem;
  margin-right: 0.4rem;
  background-color: var(--main-2);

  transition: 0.15s ease-out;
  border-radius: 0.33rem;

  border: 0.05rem solid transparent;
  background-image: var(--main-gradient), var(--border-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.toolbarButton:hover {
  transition: 0.15s ease-out;
  background-color: var(--main-3);

  border: 0.05rem solid transparent;
  background-image: var(--main-gradient), var(--border-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.toolbarButton:active {
  transition: 0.05s ease-out;
  background-color: var(--select-1);
  box-shadow: none;

  border: 0.05rem solid transparent;
  background-image: var(--select-1), var(--border-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.toolbarButtonIcon {
  color: var(--main-0);
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.toolbarButton.active {
  transition: 0.05s ease-out;
  background-color: var(--select-1);
  box-shadow: none;
  border: var(--select-1) solid 0.05rem;

  background-image: var(--select-1), var(--border-gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.toolbar-separator {
  width: 0.1rem;
  border-radius: 1rem;
  height: 2rem;
  margin: 0 0.4rem 0 0;
  background-color: var(--main-4);
}

.simulate-button {
  width: 2rem;
  height: 2rem;
  gap: 0.4rem;
  margin-right: 0.4rem;
  background-color: var(--main-1);
  border: var(--main-4) solid 0.05rem;
  transition: 0.15s ease-out;
  border-radius: 0.33rem;
  z-index: 1000;
}

.simulate-button.idle {
  background-color: var(--status-success-1);
}

.simulate-button.awaiting {
  background-color: var(--status-warning-1);
}

.simulate-button.running {
  background-color: var(--status-running-1);
}

.simulate-button.error {
  background-color: var(--status-error-1);
}

.simulate-button-svg.idle {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--status-success-2);
}

.simulate-button-svg.awaiting {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--status-warning-2);
  transform: scale(1.1);
}

.simulate-button-svg.running {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--status-running-2);
  transform: scale(1.1);
}

.simulate-button-svg.error {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  color: var(--status-error-2);
  transform: scale(1.1);
}
