.react-flow__edges {
  z-index: 10;
}

.react-flow__nodes {
  z-index: 5;
}

.react-flow__edge-path {
  stroke-width: 2;
  stroke: var(--main-0);
}

/* Hovered edge */
.react-flow__edge:hover .react-flow__edge-path {
  stroke: var(--select-1);
}

/* Selected edge */
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke-width: 3;
  stroke: var(--select-1);
}

.react-flow__handle {
  background: var(--svg-color);
  border: 0.05rem solid var(--external-border-color);
  object-fit: cover;
  transition: filter 0.2s;
}

.react-flow__handle:hover {
  background: var(--select-color);
}
