.react-flow {
  --xy-selection-background-color-default: var(--mask);
  --xy-selection-border-default: 1px dotted var(--main-4);
}

.react-flow__edges {
  z-index: 10;
}

.react-flow__nodes {
  z-index: 5;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: var(--main-4) !important;
  stroke-width: 2;
}

.react-flow__edge:not(.selected-between-nodes) .react-flow__edge-path {
  stroke: var(--main-0);
  stroke-width: 2;
}

.react-flow__edge.selected-between-nodes .react-flow__edge-path {
  stroke: var(--main-4);
  stroke-width: 3;
}

/* Hovered edge */
.react-flow__edge.selectable:hover .react-flow__edge-path {
  stroke: var(--main-4);
  stroke-width: 2;
}

.react-flow__handle {
  background: var(--main-0);
  border: 0.05rem solid var(--main-5);
  object-fit: cover;
  z-index: 15;

  transform-origin: center center;
  transition:
    transform 0.2s ease-in-out,
    background 0.2s ease-in-out;
}

.react-flow__handle:hover {
  transform: scale(1.5);
  background: var(--main-0);
}

.react-flow__handle[data-handlepos="top"] {
  transform-origin: 150% 150%;
}
.react-flow__handle[data-handlepos="bottom"] {
  transform-origin: 150% -50%;
}
.react-flow__handle[data-handlepos="left"] {
  transform-origin: 150% 150%;
}
.react-flow__handle[data-handlepos="right"] {
  transform-origin: -50% 150%;
}

.react-flow {
  --xy-connectionline-stroke-default: var(--main-0);
  --xy-connectionline-stroke-width-default: 2;
}

.react-flow__node {
  border: 0.05rem solid var(--main-5);
  border-radius: 4px;
  background: var(--menu-lighter);
}

.react-flow__node:hover {
  background-color: var(--main-4);
}

.react-flow__node.selectable.selected {
  background-color: var(--main-4);
  border-color: var(--main-0);
}

.react-flow__nodesselection {
  display: none !important;
}
.react-flow__nodesselection-rect {
  display: none !important;
}
