/*_______Canvas_______*/
.canvasContainer {
  height: 97vh;
  width: 98vw;
}

.react-flow__attribution {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}






