.header2 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 5rem;
    padding: 0 !important;
    border-bottom: #c1c1c1 solid 0.05rem;
    border-radius: 0.5rem;
    background-color: #e3e3e3;
}

.profileUserIcon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border: #838383 solid 0.05rem;
    border-radius: 2rem;
    right: 0.5rem;
    margin-top: 0.5rem;
}

.profileUserName {
    margin-left: 96rem;
    font-size: 1rem;
    margin-top: 1.8rem;
    color: black;
    text-decoration: none;
}

.profile {
    position: absolute;
    width: 17rem;
    height: 25rem;
    left: 5rem;
    top: 8rem;
    display: flex;
    justify-content: center;
}

.profileToEdit {
    width: 15rem;
    height: 18rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userIconToEdit {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border: #838383 solid 0.05rem;
    margin-top: -3rem;
    border-radius: 5rem;
}

.userNameToEdit {
    position: absolute;
    top: 16.5rem;
    font-size: 1.2rem;
}

.editProfileButton {
    width: 15rem;
    height: 2.5rem;
    border: #838383 solid 0.05rem;
    border-radius: 0.5rem;
    margin-top: 19rem;
    margin-left: -15rem;
}

.editProfileButton:hover {
    transition: 0.15s ease-out;
    background-color: #dadada;
}

.editProfileButtonText {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}