/*______settings______*/
.settingsMenu {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: -100%;
    z-index: 2001;
    opacity: 0;
    /*left: 20%;*/
    background-color: #ffffff;
    box-shadow: #c6c6c6 1px 1px 5px;
    border-radius: 0.5rem;
    border: #838383 solid 0.05rem;
    transition: width 1s 0.15s, height 1s 0.15s, background-color 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.settingsMenu.showed {
    position: fixed;
    opacity: 1;
    width: 40%;
    height: 80%;
    top: 10%;
    left: 30%;
    transition: width 0s, height 0s, background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.settingsMenuTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.5rem 0 0 0;
    user-select: none;
}

.openProfileButton {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    width: 39.5rem;
    height: 5rem;
    background-color: #ffffff;
    box-shadow: #c6c6c6 1px 1px 5px;
    border: #838383 solid 0.05rem;
    border-radius: 0.5rem;
}

.openProfileButton:hover{
    transition: 0.15s ease-out;
    background-color: #dadada;
}

.defaultUserIcon {
    width: 3rem;
    height: 3rem;
    border: #838383 solid 0.05rem;
    border-radius: 3rem;
    margin-left: 1rem;
}

.defaultUserName {
    margin-left: 0.5rem;
    vertical-align: 1.1rem;
    font-size: 1rem;
}


/*______open settings button______*/
.openSettingsButton {
    z-index: 501;
    position: fixed;
    top: 0.5rem;
    left: 2.64rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.33rem;
    background-color: #ffffff;
    border: #c1c1c1 solid 0.07rem;
    transition: 0.15s ease-out;
    border-radius: 0.33rem;
    user-select: none;
}

.openSettingsButton > img {
    transition: 0.1s ease-in-out;
    transform: rotate(0deg);
}

.openSettingsButton:hover {
    transition: 0.15s ease-out;
    background-color: #dadada;
}

.openSettingsButton:hover > img {
    transition: 0.15s ease-in-out;
    transform: rotate(-60deg);
}

.openSettingsButton:active {
    transition: 0.05s ease-out;
    background-color: #e3e3e3;
    box-shadow: none;
}

.openSettingsButtonIcon {
    width: 1.3rem;
    height: 1.3rem;
    user-select: none;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.minimapSwitchBlock{
    /*border: black solid 1px;*/
    margin: 1rem;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.backgroundVariantBlock{
    /*border: black solid 1px;*/
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.minimapSwitchLabel{
    font-size: 1rem;
    justify-content: flex-start;
}


