/*_______Open Menu_______*/
.openMenuButton{
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    z-index: 500;
    background-color: #ffffff;
    border: none;
    box-shadow: #dfdfdf 1px 1px 5px;
    transition: 0.15s ease-out;
    border-radius: 0.33rem;
}
.openMenuButton:hover {
    transition: 0.15s ease-out;
    background-color: #f6f6f6;
}
.openMenuButton:active {
    transition: 0.05s ease-out;
    background-color: #e1e1e1;
    box-shadow: none;
}
.openMenuButtonIcon{
    width: 1rem; height: 1rem;
}


/*_______Open Settings_______*/
.openSettingsButton{
    z-index: 501;
    position: fixed;
    top: 0.5rem;
    left: 2.5rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.33rem;
    background-color: #ffffff;
    border: none;
    box-shadow: #dfdfdf 1px 1px 5px;
    transition: 0.15s ease-out;
    border-radius: 0.33rem;
}
.openSettingsButton:hover {
    transition: 0.15s ease-out;
    background-color: #f6f6f6;
}
.openSettingsButton:active {
    transition: 0.05s ease-out;
    background-color: #e1e1e1;
    box-shadow: none;
}
.openSettingsButtonIcon{
    width: 1rem; height: 1rem;
}

/*_______Panel_______*/
.panel{
    width: 11.33rem;
    position: fixed;
    top: 2.5rem;
    left: -13.33rem;
    margin: 0.33rem 0 0 0.33rem;
    border-radius: 0.66rem;
    box-shadow: #cdcdcd 1px 1px 5px;
    transition: 0.3s ease-in-out;
}
.panel.open{
    transition: 0.2s ease;
    position: fixed;
    left: 0;
}
.panelInnerButton {
    background-color: #ffffff;
    border: none;
    box-shadow: #dfdfdf 1px 1px 5px;
    transition: 0.15s ease-out;
    border-radius: 10px;
    width: 3.33rem;
    height: 3.33rem;
    margin: 3.33px;
}
.panelInnerButton:hover {
    transition: 0.15s ease-out;
    background-color: #f3f3f3;
}
.panelInnerButton:active {
    transition: 0.05s ease-out;
    background-color: #dbedff;
    box-shadow: none;
}
.panelText{
    margin-top: 0.66rem;
    text-align: center;
    font-family: Helvetica, serif;
    font-weight: 400;
    font-size: 1.32rem;
}
.buttonPicture{
    width: 2.66rem;
    align-items: center;
}


/*_______ToolBar_______*/
.toolbar {
    display: flex;
    width: 16.66rem;
    border-radius: 0.66rem;
    position: fixed;
    bottom: 1.32rem;
    right: 1.32rem;
    z-index: 1000;
    padding: 0.466rem 0;
    background: #ffffff;
    box-shadow: #dfdfdf 1px 1px 5px;
    transition: transform 0.3s;
}
.toolbarButton {
    width: 2rem;
    height: 2rem;
    margin-left: 0.66rem;
    background-color: #ffffff;
    border: none;
    box-shadow: #e4e4e4 2px 2px 10px;
    transition: 0.15s ease-out;
    border-radius: 0.33rem;
}
.toolbarButton:hover {
    transition: 0.15s ease-out;
    background-color: #f3f3f3;
}
.toolbarButton:active {
    transition: 0.05s ease-out;
    background-color: #dbedff;
    box-shadow: none;
}
.toolbarButtonIcon{
    width: 1.2rem;
    height: 1.2rem;
}

.toolbarButton.active{
    transition: 0.05s ease-out;
    background-color: #dbedff;
    box-shadow: none;
}

/*______Backdrop______*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
}
.backdrop.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Полупрозрачный черный */
    /*z-index: 998; !* Ниже меню, но выше остального контента *!*/
    backdrop-filter: blur(2px); /* Размытие фона (опционально) */
    transition: background-color 0.15s ease-out;
}

