.panelInnerButton {
    background-color: #ffffff;
    border: none;
    box-shadow: #e4e4e4 2px 2px 10px;
    transition: 0.15s ease-out;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    margin: 5px;
}

.panelInnerButton:hover {
    transition: 0.15s ease-out;
    background-color: #f3f3f3;
}

.panelInnerButton:active {
    transition: 0.15s ease-out;
    background-color: #ececec;
    box-shadow: none;
}

.panel{
    width: 270px;
    border-radius: 10px;
    box-shadow: #c6c6c6 2px 2px 10px;
    transition: 0.3s ease-in-out;
    position: fixed;
    left: -500px;
    margin: 10px 0 0 10px;
}

.panel.open{
    transition: 0.3s ease-in-out;
    position: fixed;
    left: 0;

}
.menuText{
    margin-top: 15px;
    text-align: center;
    font-family: Helvetica, serif;
    font-weight: 900;
    font-size: 30px;
}

.menuContent.showed{
    transition: 0.3s ease-in-out;
}

.buttonPicture{
    width: 4rem;
    align-items: center;
}